@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&display=swap');

/**** GLOBAL ****/

body{
    font-size: 14pt;
    font-family: "Crimson Text", serif;
    padding: 0;
    margin: 0;
}

.container{
    width: 90ch;
    margin: auto;
    overflow: hidden;
}

main {
    padding-top: 258px;
}

/**** BANNER ****/

header {
    background: #000000;
    color: #ffffff;
    position: fixed;
    width: 100%;
    height: 258px;
    z-index: 100;
}

header .container {
    background: url("http://homepages.cs.ncl.ac.uk/harold.fellermann/csc8018/chessboxing/chessboxing_background.jpg") no-repeat;
    background-position: top;
    background-size: 100%;
}

header a{
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
}

    /* Navigation */
    
nav ul {
    margin: 0;
    padding: 0;
    
}

nav li{
    float: left;
    display: inline;
    margin: 0;
    text-align: right;

}

nav {
    float: right;
    margin-bottom: 10px;
}

nav a:hover{
    color: #fff00f;
    background-color:rgba(255,255,255, 0.4);
}


/**** FIGURE SETTINGS ****/


figure {
    border: 3px solid #cdcdcd;
    border-radius: 1.5em;
    text-align: center;
    float: right;

    padding: 1em;
    margin: 0 0 0 1em;
}

figcaption{
    display: inline-block;
    text-align: center;
    width: 400px;
    font-style: italic;
    padding: 1em 0;
}

img {
    display: block;
    width: 400px;
}

iframe {
    width: 400px;
    height: 225px;
    border: 0px;
    display: block;

}


    /* table */

table {
    margin: auto;
    text-align: left;
    border-collapse: collapse;
}

th {
    text-align: center;
    border-top: 3px solid #cdcdcd;
    border-bottom: 3px solid #cdcdcd;
    padding: 0.5em;
}

tr:last-child {
    border-bottom: 3px solid #cdcdcd;
}

td {
    border-bottom: 0.2px solid #cdcdcd;
    padding: 0.5em;
}

    /* timeline @600+ px */

@media screen and (min-width: 600px) {

    .timeline {
        margin: 1em 0;
        display: block;
    }

    .timeline table {
        display: inline-block;
    }

    .timeline img {
        display: inline-block;
        float: right;
        margin-top: 100px;
        /* margin-top: 100px; */
    }

}

.timeline {
    float: none;
}


/**** BASIC ****/

    /* Text */
h1 {
    font-size: 60pt;
    margin: 50px 0 50px 0;
}


h2 {
    font-size: 20pt;
    color : #607292;
    margin: 0;
}

h1, h2, nav {
    font-family: "Kanit", sans-serif;
}

    /* Chess pieces */

h2::before {
    font-size: 60pt;
}

#history-sec h2::before {
    content: "\2655  ";
}

#rules-sec h2::before {
    content: "\265a  ";
}

#training-sec h2::before {
    content: "\2656  ";
}

#mvm-sec h2::before {
    content: "\265D  ";
}


    /* footer */
footer {
    color : #ffffff;
    background-color: #000000;
    text-decoration: none;
    text-align: center;
    padding: 2em;
    margin-top: 4em;
}


footer a{
    color: inherit;
}


/**** MEDIA QUERY @600- px ***/
@media screen and (max-width: 600px) {

    .container{
        width: 95vw;
    }

    header {
        max-height: 225px;
    }

    header .container {
        max-height: 225px;
    }
    
    h1 {
        font-size: 25pt;
        margin-bottom: 0;
    }

    header a {
        padding: 0;
        padding-left: 1020px;
    }

    nav li{
        float: none;
        display: block;
        margin: 0;
        text-align: right;
        white-space: nowrap;
    
    }
    
    nav {
        margin-bottom: 10px;
    }


    img, iframe, figcaption {
        max-width: 75vw;
    }    

    figcaption {
        display: block;
    }

    #intro-sec figure {
        margin-top: 1em;
    }

    figure {
        float: none;
        position: relative;
        margin: 0;
        left: 50%;
        transform: translateX(-50%);
        display: inline-block; 
    }
}

